<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Host an event</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://video.6ix.com" target="_blank"
    >
      video.6ix.com
    </a>
    <span px-1>|</span>
  </p>
</footer>