---
import Logo from './Logo.astro'
---

<header>
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1">6ix AI for Investor Relations Professionals</span>
  </div>
  <p mt-1 text-slate op-60>Upload your press release. Then instruct 6ix AI to write for you. For example, you can say "Create a marketing plan that includes 3 social media posts and 3 ideas for a webinar based on my press release." </p>
</header>