---
import Logo from './Logo.astro'
---

<header>
  <div class="flex items-center mt-2">
    <span class="text-2xl text-slate font-extrabold mr-1">6ix AI for Investor Relations Professionals</span>
  </div>
  <p mt-1 text-slate op-60>Set the AI's role, enter your query, and get the help you need. </p>
</header>